<div class="container">
  <h3>Titre de l'article: <%= @article.title %></h3>
  <h5>Numéro de l'article: <%= @article.id %></h5>
  <h5>Contenu de l'article:</h5>
  <p>
    <%= @article.content %>
  </p>
    <h5> Auteur: <%= @article.user.email %></h5>
  <%= link_to 'retour', :back %>
</div>