<div class="container">
  <div>
    <%= link_to 'Créer un groupe', new_group_path, class: 'btn btn-primary' %>
  </div>
  <br>
  <ul>
    <% @groups.each do |group| %>
      <li>Titre du groupe: <%= group.title %></li>
      <li>Description: <%= group.description %></li>
      <li>Auteur: <%= group.user.email %></li>
      <li><%= link_to 'Page du groupe', group_path(group.id) %></li>
      <li><%= link_to 'Modifier le groupe', edit_group_path(group.id) %></li>
      <li><%= link_to 'Supprimer', group_path(group.id), method: :delete, data: { confirm: "Êtes-vous certain ? " } %></li>
      <br>
    <% end %>
  </ul>
</div>
