<div class="container">
  <%= simple_form_for @group do |f| %>
    <%= f.input :title, label: 'Titre du groupe' %>
    <%= f.input :description, label: 'Description' %>
    <%= f.button :submit %>
  <% end %>
  <%= link_to 'Retour', :back %>
</div>

