<div class="container">
  <h2> Groupe: <%= @group.title %> </h2>
  <h5> Description: </h5>
  <br>
  <p> <%= @group.description %> </p>
  <br>
  <h6> Auteur: <%= @group.user.email %> </h6>
  <br>
  <h6> Membres: </h6>
  <ul>
    <% @group.memberships.each do |membership| %>
        <li> <%= membership.user.email %>
      <% if membership.user == current_user %>
          <%= link_to 'Voir Abonnement', membership_path(membership.id) %>
        </li>
      <% end %>
    <% end %>
    <br>
    <li><%= link_to 'Modifier le groupe', edit_group_path(@group.id) %></li>
    <li><%= link_to 'Supprimer le groupe', group_path(@group.id), method: :delete, data: {confirm: "Êtes-vous certain ? "} %></li>
  </ul>
  <%= link_to 'retour', :back %>
  <% unless @group.memberships.map(&:user).include?(current_user) %>
    <%= button_to 'Rejoindre', {:action => 'create_membership', :user_id => current_user.id, :group_id => @group.id}, {:method => :post} %>
  <% end %>
</div>
